body {
    background-image: url("../images/Background_Photo.jpg");
    background-size: contain;
}

.card {
    width: 32%;
    border-radius: 1%;
    background-color: #BFD5E2;
    margin-left: 1em;
}

.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font-size: 2em;
}

footer {
    background-color: #4e555b;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
    padding-top: 0.7em;
}

.displays {
    margin: 1em 5em 3em 5em;
    justify-content: center;
}

.footer-copyright {
    text-align: center;
    color: white;
}
